<section>
  <div class="text-center mt-5">
    <h1>Editar incidencias</h1>
    <p>En este apartado podras editar incidencias</p>
    <p>Estados(Solo aceptamos): revisada,no-revisada,asignada,comenzada,terminada</p>
    <p class="text-danger">EN CASO DE PONER ALGUN OTRO TIPO DE ESTADO NO SERA DETECTADO Y SERA ELIMINADO</p>
  </div>
</section>
<section class="m-5">
  <div class=" m-5">
    <form class="text-center" [formGroup]="formIncidencias" (submit)="EditarDatos()">
      <div class="mb-3 d-flex justify-content-center">
          <input class="rounded-pill p-2 text-succes" placeholder="Estado" type="text" formControlName="estado" id="estado">
      </div>
      <div class="mt-3 mb-3 pb-2">
        <button class="btn btn-primary btn-lg m-2" (click)="ActualizarDatos()">Registrar cambios</button>
        <button class="btn btn-primary btn-lg m-2" (click)="Eliminar()">Eliminar cliente</button>
      </div>
    </form>
  </div>
</section>
