<section>
  <div class="text-center">
    <h1>Bienvenido a la App de incidencias</h1>
    <i *ngFor="let i of datosUsuario">
      <div *ngIf="i.rol == 0">
        <a class="btn btn-primary" routerLink="/hacerIncidencia">Introducir incidencias</a>
      </div>
      <div *ngIf="i.rol == 1">
        <a class="btn btn-primary" routerLink="/hacerIncidencia">Introducir incidencias</a>
        <a class="btn btn-primary" routerLink="/gestionIncidencias">Gestion incidencias</a>
      </div>
      <div *ngIf="i.rol == 2">
        <a class="btn btn-primary" routerLink="/hacerIncidencia">Introducir incidencias</a>
        <a class="btn btn-primary" routerLink="/gestionIncidencias">Gestion incidencias</a>
      </div>
    </i>
  </div>
</section>
